<div class="nested-fields">
	<% @random_number = rand(50).to_s %>

<%#= raw Valuetype.where(:has_precision => true).map(&:id).to_json %>

	<span class="measurement_id hidden" value="<%= f.object.id if f.object.id %>" > </span>

  <div class="well">
		<div class="row">
		  <div class="col-md-12">
			  <div class="form-group">
				  <%= f.label "trait (required)" %>
					<br/>
					<% if !f.object.id %>
						<%= f.select :trait_id, Trait.all.map { |u| [u.trait_name, u.id] }, { include_blank: 'Choose trait...', class: "form-control" }, { :"data-custom-id" => "trait"+ @random_number, class: "my_trait" } %>
					<% else %>
						<%= f.select :trait_id, Trait.all.map { |u| [u.trait_name, u.id] }, { include_blank: 'Choose trait...', class: "form-control" }, {:"data-custom-id" => "trait"+ @random_number, class: "my_trait" } %>
					<% end %>
				</div>
			</div>
		</div><!-- End ROW -->

		<div class="row">
		  <div class="col-md-6">
				<div class="form-group">
				  <%= f.label "value (required)" %>
					<% if f.object.trait.nil? %>
						<%= f.select :value, [], {include_blank: 'Choose Value' }, { class: "form-control" }%>
					<% else %>
						<% if not f.object.trait.traitvalues.empty? %>
							<%= f.select :value, f.object.trait.traitvalues.map { |v| [ v.value_name, v.value_name ]} , { include_blank: 'Choose Value' }, { class: "form-control"} %>						  
						<% else %>
							<%= f.text_field :value, { class: "form-control" } %>	
						<% end %>
					<% end %>
					<%= f.hidden_field :orig_value, :value => params[:value]%>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group">
					<%= f.label "value type (required)" %>
    			<%= f.select :valuetype_id, Valuetype.all.collect {|a| ["#{a.value_type_name}", a.has_precision, a.id]}, {}, class: "form-control" %>
				</div>
			</div>
		</div> <!-- End ROW -->
		
		<div class="row">
		  <div class="col-md-6">
			  <div class="form-group">
				  <%= f.label "standard (required)" %>
					<br/>
					<%= f.select :standard_id, Standard.all.map { |u| ["#{u.standard_name} (#{u.standard_unit})", u.id] }, { include_blank: 'Choose standard...', class: "form-control" }, { :"data-custom-id" => "standard"+ @random_number, class: "my_standard" } %>
					<%#= f.select :standard_id, [], { include_blank: 'Choose standard...', class: "form-control" }, { id: unique_standard_id } %>

					<span data-custom-id = <%= "suggested_standard"+ @random_number %> class="hidden">Suggested standard: </span>
				</div>
			</div>
			<div class="col-md-6">
			  <div class="form-group">
				  <%= f.label "methodology (recommended)" %> <br/>
				  <% if !f.object.id %>
    				<%= f.select :methodology_id, Methodology.all.map { |u| [u.methodology_name, u.id] }, { include_blank: "Choose Methodology..." }, { id: 'simple-example', :style => "width: 250px;", class: "my_methodology" } %>
				  <% else %>
    				<%= f.select :methodology_id, Methodology.all.map { |u| [u.methodology_name, u.id] }, { include_blank: "Choose Methodology..." }, { id: 'simple-example', :style => "width: 250px;" } %>
				  <% end %>

<!-- 				    <div id="measurements_methodologies">
				      <%#= f.fields_for :measurements_methodologies do |measurements_methodology| %>
				        <%# render :partial => "measurements_methodology_fields", :locals => { :f => measurements_methodology } %>
				      <%# end %>
				    </div>
				    <div class="links">
				      <p><%#= link_to_add_association "Add measurement methodology", f, :measurements_methodologies %></p>
				    </div>
 -->

				</div>
			</div>
		</div><!-- End ROW -->
	        


		<div class="form-group precision">
			<div class="row">
	  		
			  <div class="col-md-12">
					<%= f.label :precision %>
	  			<p><small>If the measurement value you entered above is some form of aggregate (e.g., a mean or range mid-point), please enter an estimate of variation and the number of replicates.</small></p>
	  			<p><small>For ranges, enter the mid-point value above as a mean or median, select "range" as the value type, and then enter the lower range value in "precision" and upper range value in "precision upper".</small></p>
				</div>

			  <div class="col-md-6">				  
					  <%= f.label :precision_type %>
    				<%= f.select :precisiontype_id, Precisiontype.all.collect {|a| ["#{a.precision_type_name}", a.id]}, {:include_blank => "Choose if applicable..."}, class: "form-control" %>
				</div>
				<div class="col-md-6">
					  <%= f.label :replicates %>
					  	<%= f.text_field :replicates, class: "form-control" %>
				</div>
			</div><!-- End ROW -->
			
			<div class="row">
				<div class="col-md-6">
				  <%= f.label :precision_value %>
				  <%= f.text_field :precision, class: "form-control" %>
				</div>
				<div class="form-group range">
				  <div class="col-md-6">
					  <%= f.label :precision_upper_value %>
				  	<%= f.text_field :precision_upper, class: "form-control" %>
				 	</div>
				</div>
			</div><!-- End ROW -->
		</div>

		<div class="row">
		  <div class="col-md-12">
			  <div class="form-group">
				  <%= f.label :measurement_description %>
				  	<%= f.text_area :measurement_description, class: "form-control" %>
				</div>
			</div>
		</div><!-- End ROW -->

		<%= link_to_remove_association "remove", f %>

	</div> <!-- End Well -->
</div> <!-- End Nested-fields -->

<script>
  var a = 0;
  $(document).ready(function() {
  	$('select.my_standard').select2();
  	$('select.my_methodology').select2();
		$('select.my_trait').select2();
		$('select.my_methodology').select2();

    $('.my_trait').change(function() {
      $.ajax({
        url: "/observations/update_values",
        cache: false,
        data: {
        			element_id: $(this).attr('id'),
							trait_id: $(this).val()
							//measurement_id: $(this).parents('.nested-fields').find('.measurement_id').attr("value")
				},
        dataType: "script"

      });
    });
  });

	function process_precision() {

		var has_precision = <%= raw Valuetype.where(:has_precision => true).map(&:id).to_json %>.map(String);
		console.log(has_precision);

	  // Process the precision fields while document loads for first time (new / edit)
	  var selected_value_type = $('[id*=_valuetype_id]');
	  selected_value_type.each(function(){
			console.log($(this).val());
			console.log($.inArray($(this).val(), has_precision));  
	    if ($.inArray($(this).val(), has_precision) === -1)
	      $(this).parents(".nested-fields").find(".precision").hide();
	    else 
	      $(this).parents(".nested-fields").find(".precision").show();
	  });

	  // Add event listener for on change in value_type
	  $("[id*=_valuetype_id]").on("change", function() {
      var selected_value;
      selected_value = $(this).val();
			console.log($(this).val());
			console.log($.inArray($(this).val(), has_precision));  		      
			if ($.inArray($(this).val(), has_precision) === -1) {
        $(this).parents(".nested-fields").find(".precision").children().val("");
        $(this).parents(".nested-fields").find(".precision").hide();
      } else {
        $(this).parents(".nested-fields").find(".precision").show();
      }
    });

		var has_range = <%= raw Precisiontype.where(:has_range => true).map(&:id).to_json %>.map(String);
		console.log(has_range);

	  // Process the range fields while document loads for first time (new / edit)
	  var selected_precision_type = $('[id*=_precisiontype_id]');
	  selected_precision_type.each(function(){
			console.log($(this).val());
			console.log($.inArray($(this).val(), has_range));  
	    if ($.inArray($(this).val(), has_range) === -1)
	      $(this).parents(".nested-fields").find(".range").hide();
	    else 
	      $(this).parents(".nested-fields").find(".range").show();
	  });

	  // Add event listener for on change in precision_type
	  $("[id*=_precisiontype_id]").on("change", function() {
      var selected_precision;
      selected_precision = $(this).val();
			console.log($(this).val());
			console.log($.inArray($(this).val(), has_range));  		      
			if ($.inArray($(this).val(), has_range) === -1) {
        $(this).parents(".nested-fields").find(".range").children().val("");
        $(this).parents(".nested-fields").find(".range").hide();
      } else {
        $(this).parents(".nested-fields").find(".range").show();
      }
    });


	}


	$(document).ready(function(){
	  $('.panel-body').hide();

	  $('.panel-heading').click(function(e){
	    e.preventDefault();
	    $(this).next('.panel-body').fadeToggle("slow");
	  });

	  process_precision()  
	});


</script>
