<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @precisiontype.user %>
</p>

<p>
  <strong>Precision type name:</strong>
  <%= @precisiontype.precision_type_name %>
</p>

<p>
  <strong>Precision type description:</strong>
  <%= @precisiontype.precision_type_description %>
</p>

<p>
  <strong>Has range:</strong>
  <%= @precisiontype.has_range %>
</p>

<%= link_to 'Edit', edit_precisiontype_path(@precisiontype) %> |
<%= link_to 'Back', precisiontypes_path %>
