<%= form_for(@measurements_methodology) do |f| %>
  <% if @measurements_methodology.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@measurements_methodology.errors.count, "error") %> prohibited this measurements_methodology from being saved:</h2>

      <ul>
      <% @measurements_methodology.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :measurement_id %><br>
    <%= f.text_field :measurement_id %>
  </div>
  <div class="field">
    <%= f.label :methodology_id %><br>
    <%= f.text_field :methodology_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
